#	Данные для проекта
DB_HOST=db- имя образа БД
DB_PORT=5432- внутренний порт
DB_NAME=topic3- имя БД
DB_USER=postgres- пользователь
DB_PASS=1327- пароль от БД

#	Данные для Docker
POSTGRES_DB=topic3
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1327
